# --------- pytorch --------- #
torch==1.8.1
torchvision==0.9.1
pytorch-lightning==1.4.4
lightning-bolts==0.3.2
torchmetrics==0.5.0

# --------- hydra --------- #
hydra-core==1.1.0
hydra-colorlog==1.1.0
hydra-optuna-sweeper==1.1.0

# --------- loggers --------- #
wandb==0.12.6

# --------- others --------- #
rich
python-dotenv
pre-commit
scikit-learn==0.23.2
pandas
matplotlib
seaborn
pytest
