# --------- pytorch --------- #
torch==1.8.1
torchvision==0.9.1
pytorch-lightning==1.4.8
lightning-bolts==0.4.0
torchmetrics==0.5.1

# --------- hydra --------- #
hydra-core==1.1.0
hydra-colorlog==1.1.0
hydra-optuna-sweeper==1.1.0

# --------- loggers --------- #
wandb==0.12.6

# --------- others --------- #
rich
python-dotenv
pre-commit
scikit-learn==0.24.1
pandas
matplotlib
seaborn
pytest
